<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="rodoviariaConnectionString" connectionString="Data Source=WIRSUS\SQLEXPRESS;Initial Catalog=Rodoviaria;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>